In [21]:
#Baca berkas CSV
import pandas as pd
rating = pd.read_csv("MALratings.csv")
rating

,Title,Genres,Rank,Popularity,Score,Episodes,Episode length,Release Date
0,Kaguya-sama wa Kokurasetai: Ultra Romantic,"Comedy,Suspense",13,404,8.99,12,23 min. per ep.,Spring 2022
1,3-gatsu no Lion 2nd Season,"Drama,Slice of Life",14,533,8.96,22,25 min. per ep.,Fall 2017
2,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,"Action,Comedy,Sci-Fi",19,939,8.93,1,1 hr. 50 min.,NaN
3,Gintama.,"Action,Comedy,Sci-Fi",12,735,8.99,12,24 min. per ep.,Winter 2017
4,Koe no Katachi,NaN,15,19,8.96,1,2 hr. 10 min.,NaN
...,...,...,...,...,...,...,...,...
20338,Steins;Gate,"Drama,Sci-Fi,Suspense",4,13,9.08,24,24 min. per ep.,Spring 2011
20339,High Score,"Comedy,Slice of Life",10527,6095,5.58,8,3 min. per ep.,Fall 2011
20340,Noraneko,NaN,8706,5064,6.04,1,35 sec.,NaN
20341,"Suki de Suki de, Suki de The Animation",NaN,/A,5329,6.81,2,27 min. per ep.,NaN
20342,Koihime†Musou OVA Omake,"Adventure,Comedy,Fantasy,Ecchi",8328,10052,6.12,1,12 min.,NaN

In [22]:
#Mencari Jumlah Record, nama atribut, total objek, total angka, dan total null
jumlahrc = len(rating)
atribut = rating.columns
objek = len(rating.select_dtypes(include=['object']).columns)
float = len(rating.select_dtypes(include=['float64']).columns)
angka = len(rating.select_dtypes(include=['int64']).columns)
null  = len(rating.columns[rating.isna().sum() > 0])

#Dictionary dataset rating
dictionary = {
    "Jumlah Record" : jumlahrc,
    "Nama Atribut" : atribut,
    "Jumlah Atribut Objek" : objek,
    "Jumlah Atribut Angka" : angka,
    "Jumlah Atribut Float" : float,
    "Jumlah Atribut Null" : null,
}

In [23]:
#Menampilkan nilai rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.
rating.describe()

         Popularity         Score
count  20343.000000  14019.000000
mean   10174.477953      6.451633
std     5874.844237      0.905774
min        1.000000      1.840000
25%     5086.500000      5.830000
50%    10175.000000      6.460000
75%    15263.500000      7.110000
max    20349.000000      9.140000

In [24]:
#Menampilkan isi Dictionary
pd.Series(dictionary)

Jumlah Record                                                       20343
Nama Atribut            Index(['Title', 'Genres', 'Rank', 'Popularity'...
Jumlah Atribut Objek                                                    6
Jumlah Atribut Angka                                                    1
Jumlah Atribut Float                                                    1
Jumlah Atribut Null                                                     3
dtype: object

In [25]:
#Mengubah 1 nilai atribut angka menjadi desimal 3 angka dibelakang koma
rating_copy = rating.copy()
rating_copy["Popularity"] /= 1000
rating_copy.head(10)

,Title,Genres,Rank,Popularity,Score,Episodes,Episode length,Release Date
0,Kaguya-sama wa Kokurasetai: Ultra Romantic,"Comedy,Suspense",13,0.404,8.99,12,23 min. per ep.,Spring 2022
1,3-gatsu no Lion 2nd Season,"Drama,Slice of Life",14,0.533,8.96,22,25 min. per ep.,Fall 2017
2,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,"Action,Comedy,Sci-Fi",19,0.939,8.93,1,1 hr. 50 min.,NaN
3,Gintama.,"Action,Comedy,Sci-Fi",12,0.735,8.99,12,24 min. per ep.,Winter 2017
4,Koe no Katachi,NaN,15,0.019,8.96,1,2 hr. 10 min.,NaN
5,Mo Dao Zu Shi: Wanjie Pian,"Action,Drama,Supernatural",49,2.505,8.70,12,24 min. per ep.,NaN
6,Code Geass: Hangyaku no Lelouch,"Action,Drama,Sci-Fi",50,0.017,8.70,25,24 min. per ep.,Fall 2006
7,Gintama,"Action,Comedy,Sci-Fi",16,0.127,8.95,201,24 min. per ep.,Spring 2006
8,Ginga Eiyuu Densetsu,"Drama,Sci-Fi",11,0.700,9.03,110,26 min. per ep.,NaN
9,Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...,"Action,Drama,Romance",48,0.763,8.71,4,30 min. per ep.,NaN

In [26]:
#Menampilkan nilai Korelasi
rating.select_dtypes(include=['int64','float64']).corr()

            Popularity     Score
Popularity    1.000000 -0.687303
Score        -0.687303  1.000000

In [27]:
#Menyimpan record dataset yang hanya bertipe angka ke file .CSV baru
rating.select_dtypes(exclude = ["object"]).to_csv("MALratings-number.csv")

In [28]:
#Menampilkan 10 record pertama data beratribut angka
rating.select_dtypes(exclude = ["object"]).head(10)

   Popularity  Score
0         404   8.99
1         533   8.96
2         939   8.93
3         735   8.99
4          19   8.96
5        2505   8.70
6          17   8.70
7         127   8.95
8         700   9.03
9         763   8.71

In [29]:
#End