IMPORT PACKAGE

In [286]:
# POSTTEST 4 KB - PREPROCESSING

# IMPORT PACKAGE | pandas - numpy - ScikitLearn(Sklearn) |

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [253]:
# Baca Berkas CSV - Dataset

rating = pd.read_csv("MALratings.csv")
rating.head(5)

,Title,Genres,Rank,Popularity,Score,Episodes,Episode length,Release Date
0,Kaguya-sama wa Kokurasetai: Ultra Romantic,"Comedy,Suspense",13,404,8.99,12,23 min. per ep.,Spring 2022
1,3-gatsu no Lion 2nd Season,"Drama,Slice of Life",14,533,8.96,22,25 min. per ep.,Fall 2017
2,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,"Action,Comedy,Sci-Fi",19,939,8.93,1,1 hr. 50 min.,NaN
3,Gintama.,"Action,Comedy,Sci-Fi",12,735,8.99,12,24 min. per ep.,Winter 2017
4,Koe no Katachi,NaN,15,19,8.96,1,2 hr. 10 min.,NaN

In [254]:
# Menampilkan informasi Dataset

rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20343 entries, 0 to 20342
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           20343 non-null  object
 1   Genres          10016 non-null  object
 2   Rank            20343 non-null  object
 3   Popularity      20343 non-null  int64
 4   Score           14019 non-null  float64
 5   Episodes        20343 non-null  object
 6   Episode length  20343 non-null  object
 7   Release Date    5087 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.2+ MB

In [255]:
#Menampilkan nilai rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

rating.describe()

         Popularity         Score
count  20343.000000  14019.000000
mean   10174.477953      6.451633
std     5874.844237      0.905774
min        1.000000      1.840000
25%     5086.500000      5.830000
50%    10175.000000      6.460000
75%    15263.500000      7.110000
max    20349.000000      9.140000

In [256]:
# Mengecek nilai NULL pada Dataset

rating.isna().sum()

Title                 0
Genres            10327
Rank                  0
Popularity            0
Score              6324
Episodes              0
Episode length        0
Release Date      15256
dtype: int64

In [257]:
# Mengecek panjang dataset

print(f'panjang dataset {len(rating)} baris')

panjang dataset 20343 baris

==============================================================================

In [258]:
# Data Preprocessing | DATA SPLIT |

data = rating[['Title', 'Genres', 'Rank', 'Popularity', 'Score', 'Episodes']]
label = rating['Release Date']

data_train, data_test, label_train, label_test = train_test_split(data,label,test_size=0.3)

In [259]:
print(f'Panjang data training {len(data_train)}',
     f'Panjang label training {len(label_train)}',
     f'Panjang data test {len(data_test)}',
     f'Panjang label test {len(label_test)}',
      sep='\n')

Panjang data training 14240
Panjang label training 14240
Panjang data test 6103
Panjang label test 6103

==============================================================================

In [260]:
# Data Transforming
# Import Module | Sklearn - Matplotlib - Seaborn | Data Transforming

from sklearn.preprocessing import MinMaxScaler # Module Normalisasi
from sklearn.preprocessing import StandardScaler # Module Standarisasi

import matplotlib.pyplot as plt
import seaborn as sns

In [261]:
# Menyalin Dataset rating | Bahan  Data Transforming |

transform_rating = rating.copy()
transform_rating_before = rating.copy()

In [262]:
# Mengecek dataset transform_rating

transform_rating_before.head()

,Title,Genres,Rank,Popularity,Score,Episodes,Episode length,Release Date
0,Kaguya-sama wa Kokurasetai: Ultra Romantic,"Comedy,Suspense",13,404,8.99,12,23 min. per ep.,Spring 2022
1,3-gatsu no Lion 2nd Season,"Drama,Slice of Life",14,533,8.96,22,25 min. per ep.,Fall 2017
2,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,"Action,Comedy,Sci-Fi",19,939,8.93,1,1 hr. 50 min.,NaN
3,Gintama.,"Action,Comedy,Sci-Fi",12,735,8.99,12,24 min. per ep.,Winter 2017
4,Koe no Katachi,NaN,15,19,8.96,1,2 hr. 10 min.,NaN

In [263]:
# Mengecek dataset transform_rating

transform_rating_before.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20343 entries, 0 to 20342
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           20343 non-null  object
 1   Genres          10016 non-null  object
 2   Rank            20343 non-null  object
 3   Popularity      20343 non-null  int64
 4   Score           14019 non-null  float64
 5   Episodes        20343 non-null  object
 6   Episode length  20343 non-null  object
 7   Release Date    5087 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.2+ MB

In [264]:
# Mengecek type dataset transform_rating

transform_rating_before.dtypes

Title              object
Genres             object
Rank               object
Popularity          int64
Score             float64
Episodes           object
Episode length     object
Release Date       object
dtype: object

In [265]:
# Data Preprocessing | Data Transforming | Normalisasi

scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(transform_rating[['Popularity', 'Score']])
normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={0:'Popularitas', 1:'Skor'}, inplace=True)

normalize_dataset.head(5)

   Popularitas      Skor
0     0.019805  0.979452
1     0.026145  0.975342
2     0.046098  0.971233
3     0.036072  0.979452
4     0.000885  0.975342

In [266]:
# Data Preprocessing | Data Transforming | Normalisasi

transform_rating.drop('Title', axis=1, inplace=True)
transform_rating.drop('Genres', axis=1, inplace=True)
transform_rating.drop('Rank', axis=1, inplace=True)
transform_rating.drop('Episodes', axis=1, inplace=True)
transform_rating.drop('Episode length', axis=1, inplace=True)
transform_rating.drop('Release Date', axis=1, inplace=True)

# bikin alat
standart_std = StandardScaler()

#standarisasi
scaled_dataset = standart_std.fit_transform(transform_rating)

In [267]:
# Perbandingan sebelum dan sesudah di Transforming

In [268]:
# Data sebelum Transforming | Standarisasi

transform_rating_before.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20343 entries, 0 to 20342
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           20343 non-null  object
 1   Genres          10016 non-null  object
 2   Rank            20343 non-null  object
 3   Popularity      20343 non-null  int64
 4   Score           14019 non-null  float64
 5   Episodes        20343 non-null  object
 6   Episode length  20343 non-null  object
 7   Release Date    5087 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.2+ MB

In [269]:
# Data sesudah Transforming | Standarisasi

transform_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20343 entries, 0 to 20342
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Popularity  20343 non-null  int64
 1   Score       14019 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 318.0 KB

In [270]:
# Import Module | Sklearn | Data Cleaning 

from sklearn.impute import SimpleImputer

==============================================================================

In [271]:
# Data Cleaning 
# Menyalin Dataset rating | Bahan Data Cleaning | Mean, Modus, Median

cleaning_rating_before = rating.copy()
cleaning_mean = rating.copy()
cleaning_modus = rating.copy()
cleaning_median = rating.copy()
cleaning_null = rating.copy()
cleaning_dupe = rating.copy()

In [272]:
# Mengecek nilai NULL dataset cleaning_rating_before (pacuan untuk cleaning)

cleaning_rating_before.isna().sum()

Title                 0
Genres            10327
Rank                  0
Popularity            0
Score              6324
Episodes              0
Episode length        0
Release Date      15256
dtype: int64

In [273]:
# Mengecek type record dataset cleaning_rating_before (pacuan untuk cleaning)

cleaning_rating_before.dtypes

Title              object
Genres             object
Rank               object
Popularity          int64
Score             float64
Episodes           object
Episode length     object
Release Date       object
dtype: object

In [274]:
# Membuat alat untuk Data Cleaning

clean_mean = SimpleImputer(strategy='mean')
clean_modus = SimpleImputer(strategy='most_frequent')
clean_median = SimpleImputer(strategy='median')

In [275]:
# Mean - data float64 | Record Score | dataset "cleaning_mean"

cleaning_mean['Score'] = clean_mean.fit_transform(cleaning_mean[['Score']])
cleaning_mean.isna().sum()
# Untuk perbandingan cek "cleaning_rating_before.isna().sum()" diatas

Title                 0
Genres            10327
Rank                  0
Popularity            0
Score                 0
Episodes              0
Episode length        0
Release Date      15256
dtype: int64

In [276]:
# Modus - data object | Record Genres | dataset "cleaning_modus"

cleaning_modus['Genres'] = clean_modus.fit_transform(cleaning_modus[['Genres']])
cleaning_modus.isna().sum()
# Untuk perbandingan cek "cleaning_rating_before.isna().sum()" diatas

Title                 0
Genres                0
Rank                  0
Popularity            0
Score              6324
Episodes              0
Episode length        0
Release Date      15256
dtype: int64

In [277]:
# Median - data object | Record Score | dataset "cleaning_median" 

cleaning_median['Score'] = clean_median.fit_transform(cleaning_median[['Score']])
cleaning_median.isna().sum()  
# Untuk perbandingan cek "cleaning_rating_before.isna().sum()" diatas

Title                 0
Genres            10327
Rank                  0
Popularity            0
Score                 0
Episodes              0
Episode length        0
Release Date      15256
dtype: int64

In [278]:
# Cleaning dataset yang bernilai NULL dengan "dropna"

cleaning_null.dropna(inplace=True)
cleaning_null.isna().sum()
# Untuk perbandingan cek "cleaning_rating_before.isna().sum()" diatas

Title             0
Genres            0
Rank              0
Popularity        0
Score             0
Episodes          0
Episode length    0
Release Date      0
dtype: int64

In [279]:
# Mengecek duplikat dataset | Record Release Date

cleaning_rating_before['Release Date'].duplicated().sum()

20107

In [280]:
# Cleaning Dupe dataset | Record Release Date | Dataset "cleaning_dupe"

cleaning_dupe.drop_duplicates(inplace=True)
cleaning_dupe.duplicated().sum()

0

==============================================================================

In [281]:
# Encoding 
# Import Modul Encoding
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

# Membuat alat untuk Encoding 
encode_ordinal = rating.copy()
encode_onehot = rating.copy()

#preview data rating
rating.head()

,Title,Genres,Rank,Popularity,Score,Episodes,Episode length,Release Date
0,Kaguya-sama wa Kokurasetai: Ultra Romantic,"Comedy,Suspense",13,404,8.99,12,23 min. per ep.,Spring 2022
1,3-gatsu no Lion 2nd Season,"Drama,Slice of Life",14,533,8.96,22,25 min. per ep.,Fall 2017
2,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,"Action,Comedy,Sci-Fi",19,939,8.93,1,1 hr. 50 min.,NaN
3,Gintama.,"Action,Comedy,Sci-Fi",12,735,8.99,12,24 min. per ep.,Winter 2017
4,Koe no Katachi,NaN,15,19,8.96,1,2 hr. 10 min.,NaN

In [282]:
# Ordinal Encoding | "encode_ordinal"

encoder_ordinal = OrdinalEncoder()
encode_ordinal['Popularity'] = encoder_ordinal.fit_transform(encode_onehot[['Popularity']]).astype('object')

encode_ordinal.head()

,Title,Genres,Rank,Popularity,Score,Episodes,Episode length,Release Date
0,Kaguya-sama wa Kokurasetai: Ultra Romantic,"Comedy,Suspense",13,400.0,8.99,12,23 min. per ep.,Spring 2022
1,3-gatsu no Lion 2nd Season,"Drama,Slice of Life",14,529.0,8.96,22,25 min. per ep.,Fall 2017
2,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,"Action,Comedy,Sci-Fi",19,934.0,8.93,1,1 hr. 50 min.,NaN
3,Gintama.,"Action,Comedy,Sci-Fi",12,731.0,8.99,12,24 min. per ep.,Winter 2017
4,Koe no Katachi,NaN,15,18.0,8.96,1,2 hr. 10 min.,NaN

In [283]:
# Data yang berubah adalah "Popularity" yang sebelumnya "int64" menjadi "object"

encode_ordinal['Popularity'].unique()

array([400.0, 529.0, 934.0, ..., 4929.0, 5187.0, 9587.0], dtype=object)

In [284]:
# One-Hot Encoding | "encode_onehot"

temp_encode = pd.get_dummies(encode_onehot[['Rank']])
temp_encode = pd.DataFrame(temp_encode)

encode_onehot.drop('Rank', axis=1, inplace=True)
encode_onehot = encode_onehot.join(temp_encode)
encode_onehot.head()
# Record "Rank" yang awalnya hanya satu menjadi banyak

,Title,Genres,Popularity,Score,Episodes,Episode length,Release Date,Rank_/A,Rank_1,Rank_10,...,Rank_9990,Rank_9991,Rank_9992,Rank_9993,Rank_9994,Rank_9995,Rank_9996,Rank_9997,Rank_9998,Rank_9999
0,Kaguya-sama wa Kokurasetai: Ultra Romantic,"Comedy,Suspense",404,8.99,12,23 min. per ep.,Spring 2022,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3-gatsu no Lion 2nd Season,"Drama,Slice of Life",533,8.96,22,25 min. per ep.,Fall 2017,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,"Action,Comedy,Sci-Fi",939,8.93,1,1 hr. 50 min.,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Gintama.,"Action,Comedy,Sci-Fi",735,8.99,12,24 min. per ep.,Winter 2017,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Koe no Katachi,NaN,19,8.96,1,2 hr. 10 min.,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [285]:
# end of line - - - - - :D